<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_deepseek_whale"
        android:label="DeepSeek Widget"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepSeekWidget">

        <receiver
            android:name=".DeepSeekWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deepseek_widget_info" />
        </receiver>

        <!-- Trampoline activity for voice input -->
        <activity
            android:name=".VoiceInputActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>